@import url("./IcoMoon/style.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


body {
  margin: 0;
  font-family:"Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}

button{
  outline: none;
  border: none;
  background: none;
}

li{
  list-style-type: none;
}

input{
  outline: none;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select{
  appearance: none;
}

.none{
  text-decoration: none;
}